<app-nav></app-nav>
<section>
  <div class="container">
    <div class="flex-container text-center">
      <div class="card flex-item move-down">
        <div class="card-body">
          <form [formGroup]="userForm" class="move-down">
            <h2>Sign In</h2>
            <input class="form-control" formControlName="email" placeholder="Email">
            <input class="form-control" type="password" formControlName="password" placeholder="Password">
            <div>
              <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px; background-color: deepskyblue; border:none"
                (click)="signInWithEmail()">
                Login with Email
              </button>
            </div>
            <div *ngIf="this.invalidSignIn">
              <ngb-alert type="danger" [dismissible]="false">Invalid email or password.</ngb-alert>
            </div>
            <div>
              <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                <i class="fab fa-google" style="color: deepskyblue"></i>
                Login with Google
              </button>
            </div>
            <hr>
            <app-sign-up-modal></app-sign-up-modal>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="container">
    <h2 class="text-center about">What is DuelData?</h2>
    <div class="flex-container">
      <div class="move-down flex-item card img-card">
        <img class="card-img-top" [src]="'assets/images/Draft.PNG'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Record Events</h4>
          <p class="card-text">Log round robin or swiss style events with our easy to use event creator. 
            Your event's statistics will help learn more about different formats!</p>
        </div>
      </div>
      <div class="move-down flex-item card img-card">
        <img class="card-img-top" [src]="'assets/images/Stats.PNG'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">View Deck Statistics</h4>
          <p class="card-text">For each format, view win/loss ratios and play frequencies of all color pairings. This data is 
            gathered by events recorded on DuelData. 
          </p>
        </div>
      </div>
      <div class="move-down flex-item card img-card">
        <img class="card-img-top" [src]="'assets/images/past.PNG'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Keep a Log of Your Events</h4>
          <p class="card-text">Go back and look at your previous events to reminisce on previous events!</p>
        </div>
      </div>
    </div>
  </div>
</section>