<div class="main__body">
  <div class="container">

    <div class="login__page">
      <div class="row">
        <div class="card col-md-4 col-lg-6">
          <div class="login__card">
            <div class="card-block">

              <!-- <button type="button" id="signUpBtn" class="btn btn-block" (click)="">Sign Up</button> -->
              <app-sign-up-modal></app-sign-up-modal>

              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h3 align="center">Login</h3>
                <input class="form-control" formControlName="email" placeholder="Email">
                <input class="form-control" formControlName="password" placeholder="Password">
                <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                <div>
                  <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()">
                    Login with Email
                  </button>
                </div>

                <div>
                  <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                  </button>
                </div>

                <hr>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->

  </div>
  <!-- end container -->
</div>