<section class="foot">
  <!-- <div class="container"> -->
  <footer class="page-footer font-small stylish-color-dark">
    <div class="flex-container">
      <div>
        DuelData created by Jack Garlick
      </div>
      <div>
        <i style="font-size:1em; color:deepskyblue; padding-right:5px;" class="fas fa-envelope"></i>dueldata@gmail.com
      </div>
      <div>
        <i style="font-size:1em; color:deepskyblue; padding-right:5px;" class="fab fa-github"></i>github.com/jagarlic
      </div>
    </div>
  </footer>
  <!-- </div> -->
</section>