<app-nav *ngIf="eventsLoaded"></app-nav>
<div class="container" *ngIf="eventsLoaded">
  <div class="row past-events" *ngIf="this.name != null">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Welcome to DuelData {{this.name}}!</h3>
        </div>
        <div class="card-body">
          <p>We are glad to have you!</p>
          <p>This is your home page where you can view all of your previous tournaments.</p>
          <p>Use our user friendly event logger to help shed some light on the strength and prevelance of different color combinations
            in both limited and constructed formats.</p>
          <p>As DuelData is a new application, any feedback on the site is greatly appreciated!</p>
          <div class="card-footer">
            <p>
              <i style="font-size:1em; color:deepskyblue; padding-right:5px;" class="fas fa-envelope"></i>jgarlick@dueldatamtg.com
            </p>
            <p>
              Created by Jack Garlick
            </p>
            <p>
              <i style="font-size:1em; color:deepskyblue; padding-right:5px;" class="fab fa-github"></i>github.com/jagarlic
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Your Leaderboard</h3>
          <small style="color:gray">Ordered by win count</small>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let player of this.leaderBoard | async | reverse; let i = index">
              {{i + 1}}. {{player.name}} ({{player.wins}} -{{player.losses}})
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-centered">
      <div class="text-center">
        <h3>Your Past Events</h3>
        <!-- <button class="btn btn-outline-primary text-center" (click)="newEvent()">New Event +</button> -->
      </div>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let event of this.events | async | reverse">
          <ng-template ngbPanelTitle>
            <span class="eventName"> {{event.name}} </span>
            <span class="eventFormat">{{event.timeStamp | date:'shortDate'}} </span>
            <span class="eventFormat"> {{event.format}} </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let player of event.players; let i = index">
                {{i + 1}}. {{player.name}} ({{player.setWins}} - {{player.losses}})
                <span *ngIf="checkColors(player, 'W')" class="badge badge-light">White</span>
                <span *ngIf="checkColors(player, 'U')" class="badge badge-primary">Blue</span>
                <span *ngIf="checkColors(player, 'B')" class="badge badge-dark">Black</span>
                <span *ngIf="checkColors(player, 'G')" class="badge badge-success">Green</span>
                <span *ngIf="checkColors(player, 'R')" class="badge badge-danger">Red</span>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>