<div class="container">
    <button type="button" class="btn btn-outline-dark" (click)="signOut()">Sign Out</button>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card" (click)="newEvent()">
        Create New Event
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        View Your Past Events
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        Format Statistics
      </div>
    </div>
  </div>
</div>