<div class="container homeContainer">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-dark" style="float:right; margin-bottom: 25px;" (click)="signOut()">Sign Out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card text-center home-card vertical-center" (click)="newEvent()">
        <i style="font-size:3em; color:deepskyblue; padding-bottom:10px;" class="fas fa-calendar"></i>
        Create New Event
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card text-center home-card vertical-center" (click)="toPastEvents()">
        <i style="font-size:3em; color:deepskyblue; padding-bottom:10px;" class="far fa-user-circle"></i>
        Your Past Events
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card text-center home-card vertical-center" (click)="toFormatStats()">
        <i style="font-size:3em; color:deepskyblue; padding-bottom:10px;" class="fas fa-chart-bar"></i>
        Format Statistics
      </div>
    </div>
  </div>
</div>